body {
    padding: 120px;
    border: 1px solid red;
}
.login-area {
    margin-top: 80px;
    box-shadow: 10px 10px 20px grey;
    padding: 40px;
    border-radius: 8px;
}
#transaction-area {
    display: none;
}
.box-padding {
    padding: 30px;
    border-radius: 8px;
    color: floralwhite;
}
#deposit {
    background-color: rgb(106, 201, 106);
}
#withdraw {
    background-color: rgb(158, 149, 158);
}
#balance {
    background-color: goldenrod;
}