body {
    padding: 120px;
    margin: 50px;
}
.box {
    box-shadow: 10px 10px 15px rgb(155, 152, 152);
    padding: 50px;
    border-radius: 8px;
    margin-top: 80px;
}
#transaction-area {
    display: none;
}
#deposit-box {
    background-color: skyblue;
}
#withdraw-box {
    background-color: tan;
}
#balance-box {
    background-color: tomato;
}
.box-setting {
    padding: 25px;
    border-radius: 8px;
}
